/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require blueprint
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Cantarell:400,400italic);

body {
  background-color: #EBE3D1;
}

.container {
/*  background:url('/assets/grid.png');*/
  margin: 100px auto;
  font-family: 'Cantarell', sans-serif;

  .content {
    .title {
      text-align: center;
      h1 {
        font-size: 68px;
      }
      h2 {
        font-size: 23px;
        font-weight: bold;
      }
    }

    .games {
      margin-top: 40px;
      .title {
        padding: 20px;
        border-bottom: 5px solid black;
      }
      .game {
        margin-top: 20px;
        .game-title {
          font-size: 44px;
          a:link, a:visited {
            text-decoration: none;
            color: #000;
          };
        }
        .game-description {
          height: 112px;
        }
        .game-releases {
          background: #eee;
          border-radius: .3em;
          box-shadow: rgba(#000, .15) 0 1px 4px;
          border: #eee .5em solid;
        }
      }

    }

    .game-logo-thumbnail {
      border-radius: .3em;
      box-shadow: rgba(#000, .15) 0 1px 4px;
      border: #fff .5em solid;
    }
  }

}