/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Cantarell:400,400italic);

body {
  background-color: #EBE3D1;
  /*background-color: #A41200;*/
}


.container {
  margin: 100px auto;
  font-family: 'Cantarell', sans-serif;
  
  .content {
/*    border: 5px solid #CBC2AE;*/
/*    -moz-border-radius: 10px;*/
/*    -webkit-border-radius: 10px;*/

    .title {
      text-align: center;
      h1 {
        font-size: 68px;
      }
      h2 {
        font-size: 23px;
        font-weight: bold;
      }
    }
    
  }
  
}